*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*Garante que o preenchimento/padding seja incluído no calculo da largura, evitando que o conteúdo ultrapasse a tela*/
}

/*html e tudo que esta no meu site ele manda na pagina enteira*/
html{
    width: 100%;
    height: 100vh;
    /*largura e altura total*/
}

header{
    padding: min(5vh, 4rem);/*Ajustando o padding: para ser mais flexível*/
    background-color: #010937;
    width: 100%;/*Colocamos a largura para 100vw para 100%*/

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    /*Aqui começamos o posicionamento do header*/
    position: sticky;
    /*Posicionamento do header usando o stick, sendo um posicionamento fixo, porém distinto do fixed*/

    top: 0;
    /*Rspaçamento superior zerado, fazendo com que o header fique grudado ao top*/

    left: 0;
    /*Espaçamento a esquerda zerado, fazendo com que o header fique grudado à esquerda*/

    z-index: 999;
    /*eixo de profundidade (Eixo Cartesiano)*/

    /*Borda interior*/
    box-shadow: 0 0.21rem 0.5rem white;
    /*Primeiro valor sombra na Direita (0) segundo valor sombra bottom na vertical (0.21rem) terceiro valor gradiant da sombra (0.5rem)*/

}
header i{
    color: white;
    font-size: 4em;/*tamanho do icone (icone trabalha como se fosse texto)*/
}

header button{
    width: 13rem;
    height: 1.5rem;
    background-color: #101f78;
    border-radius: 1rem;
    padding: 1.3rem;/*espaçamento do item*/
    color: white;

    /*parte do button do texto*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-01{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000524;
    width: 100%;
    padding: min(20vh, 6rem);
}
.div-1 p{
    color: white;
    font-size: 2em;
    margin: 1.2em;
}
.div-2 img{
    width: 30rem;
    margin: 5rem auto;
    display: block; /*Garantindo que a imagem se comporte como um bloco*/
}
.section-02{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000524;
    width: 100%;
    padding: 20vh, 6rem;
}
.section-03{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000524;
    width: 100%;
    padding: min(20vh, 6rem);
}
.div-pai{/*chamando a div pai de 3 caixas dentro*/
    display: flex;/*Tornando ele flexivel*/
    justify-content: center;/*Justificando os itens na horizontal*/
    align-items: center;/*Justificando os itens na horizontal*/
    margin-bottom: 10rem;/*Espaçamento inferior em relação a sessão*/
    z-index: 1;/*Prioridade do eixo Z (eixo cartesiano)*/

    flex-wrap: wrap;/*Habilitando a quebra de linha das caixas caso necessário*/
    position: relative;/*Posicionamento relativo*/
}
.card{/*Aqui estamos estilizando nossa caixa onde dentro estão os conteúdos*/
    width: 200px;/*largura da caixa*/
    height: 400px;/*Altura da caixa*/
    margin: 30px;/*Espaçamento da caixa*/
    box-shadow: 20px 20px 50px purple;/*Sombra da caixa e cor*/
    border-radius: 15px;/*Arredondamento da borda*/
    background-color: rgba(233, 167, 223, 0.288);/*Cor de fundo do elemento*/
}
.content{/*Caixa de conteúdo*/
    padding: 20px;/*Preenchimento interno do conteúdo*/
    text-align: center;/*alinhamdo o conteudo ao centro*/
    transform: translatey(50px);/*Move o conteúdo 50px para baixo inicialmente*/
    opacity: 0.2; /*20% de opacidade*/
}
.content:hover{
    opacity: 1;/*100% de visibilidade*/
    transform: translateY(0px);/*Aplicando o retorno do conteudo ao eixoY em 0*/
    transition: 0.5s;/*Aplicando uma transição no evento*/
}
.content h2{/*Subtitulo da caixa*/
    position: absolute;/*Posicionamento absoluto em relação ao PAI*/
    right: 30px;/*jogando ele 30px a direita*/
    font-size: 5rem;/*tamanho da letra*/
    color: rgba(128, 128, 128, 0.557);/*cor da letra - deixar no transparente*/
}
.content h3{/*segundo Subtitulo da caixa*/
    font-size: 1.8em;/*tamanho da letra*/
    color: white;/*cor da letra*/
    z-index: 1;/*prioridade da letra eixo Z*/
}
.content p{/*Paragrafo da caixa*/
    font-size: 0.8em;/*tamanho da letra*/
    color: white;/*cor da letra*/
    font-weight: 300;/*peso da letra*/
    margin-top: 4rem;/*espaçamento superior*/
}
.content a{/*botão âncora da caixa*/
    padding: 8px 20px;/*preenchimento eixo X e Y*/
    background: white;/*cor de fundo*/
    color: black;/*cor da letra*/
    text-decoration: none;/*removendo o sublinhado*/
    border-radius: 15px;/*arrendondamento da borda*/
    font-weight: 500;/*peso da fonte*/
    margin-top: 2.7rem;/*espaçamento superior*/
    box-shadow: 0 5px 15px black;/*sombra da caixa*/
    display: inline-block;/*comportamento do butão em linha e sempre em bloco*/
    position: relative;/*posicionamento relativo*/
}
footer{
    background-color: #010937;
    width: 100%;
    padding: min(10vh, 4rem);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5em;
}
.div-logo i{
    font-size: 3em;
}
.div-list ul{
    display: flex;
    justify-content: end;
   
}
.div-list li{
margin-left: 5rem;
text-decoration: none;
}

@media (max-width:830px){
    header i {
        font-size: 5.5em;
        z-index: 999;
    }
    header button{
        width: 10rem;
        height: 0.8rem;
    }
    .section-01{
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .div-1 p{
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: left;
        padding: 2.3rem;
        width: 100%;
        margin: 1em;
    }
    .div-2 img{
        width: 20rem;
        margin: 0 2rem;
    }
    .section-02{
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .section-03{
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .div-pai div{
        display: block;
        align-items: center;
        justify-content: center;
    }
}
/*
paleta de cores
https://paletadecores.com/paleta/1c31a5/101f78/020f59/010937/000524/*/